li {
    color: dodgerblue;
    font-size: 2rem;
}

h1 {
    font-size: 3rem;
    color: hotpink;
}

#subtitle {
    font-size: 1.5rem;
    color: dimgray;
    font-style: normal;
}

.container {
    width: 80%;
    margin: auto;
}